#home {
    padding-bottom: 7vh;
    padding-top: 20px;
    text-align: center;
   }

#home h1 {
    font-size: 5vw;
    padding-bottom: 2vh;
}

#models{
    text-align: center;
    padding-bottom: 2vh;
}

.selector{
    width: 50%;
}

#audio{
    text-align: center;
}

#currentAudio{
    padding-bottom: 1vh;
}

#fileUpload{
    padding-bottom: 1vh;
}

#inference{
    padding-bottom: 4vh;
}

.output{
    display: inline;
}


    