#home {
    padding-bottom: 10vh;
    padding-top: 20px;
    text-align: center;
   }

#home h1 {
    font-size: 5vw;
    padding-bottom: 2vh;
}

#models{
    text-align: center;
    padding-bottom: 2vh;
}

#selector{
    width: 50%;
}

#form{
    text-align: center;
}


    