{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="home">
            <div class="landing-text">
                <h1>Speech To Text For Dutch</h1>
                <h3>A demo for the bachelor thesis: Building a Speech To Text Engine For Dutch </h3>
                <h2>By Willem Röpke</h2>
            </div>
    </div>
    <form method="POST" class="post-form" enctype="multipart/form-data">  
        {% csrf_token %}  
        {{ form.as_p }}  
        <button type="submit" class="save btn btn-default">Save</button>  
    </form> 

{% endblock %}