{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="home">
            <div class="landing-text">
                <h2>DuSst - A Speech-to-Text Engine for Dutch</h2>
            </div>
    </div>

    <div id="models">
        <p>Select the model you want to use here!</p>
        <select class="custom-select selector" id="modelSelector">
            <option value="30-1024-00055-2-NOC.pb">30-1024-00055-2-NOC.pb</option>
            <option value="30-2048-00055-35-SNOD.pb">30-2048-00055-35-SNOD.pb</option>
            <option value="30-2048-00055-2-SNOD.pb">30-2048-00055-2-SNOD.pb</option>
            <option value="30-2048-00055-5-SNOF.pb">30-2048-00055-5-SNOF.pb</option>
            <option value="30-2048-00055-2-NOF.pb">30-2048-00055-2-NOF.pb</option>
          </select>
    </div>

    <div id="audio">
        <div id="currentAudio">
            <p>Select the audio file you want to use here!</p>
            <select class="custom-select selector" id="audioSelector">
                {% for file in audioFiles %}
                <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
              </select>

              <button type="button" class="btn btn-light" id="playAudio">Play</button>
        </div>

        <div id="fileUpload">
            <p>Or upload your own!</p>
            <form method="POST" class="post-form" enctype="multipart/form-data">  
                {% csrf_token %}  
                {{ form.as_p }}  
                <button type="submit" class="save btn btn-light" id="fileUpload">Upload!</button>  
            </form> 
        </div>

        <div id="controls">
            <p>Or record your own!</p>
            <button class="btn-success" id="recordButton">Record</button>
            <button class="btn-danger" id="stopButton" disabled>Stop</button>
        </div>
        <div id="formats">Format: start recording to see sample rate</div>

        <div id="inference">
            <button type="submit" class="save btn btn-primary" id="prsSubmit">Run inference</button>
        </div> 

        <div class="output">
            <h6 id="output"></p>
        </div>

    </div>

    {% block javascript %}
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM --> 
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{% static 'javascript/app.js' %}"></script>

    <script>
        $( "#prsSubmit" ).click(function( event ) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'inference:run_inference' %}",
                type: 'post',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                    'model': $('#modelSelector').val(),
                    'audio': $('#audioSelector').val(),
                },
                success: function(data) {
                    $("#output").text("Inferred text: " + data.output);;
                },
                error:function(error){
                    alert("Something went wrong. Try again!");
                }
            });
        });

        $( "#playAudio" ).click(function( event ) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'inference:play_audio' %}",
                type: 'post',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                    'audio': $('#audioSelector').val(),
                },
                success: function(data) {
                    console.log("Played audio!")
                },
                error:function(error){
                    alert("Something went wrong. Try again!");
                }
            });
        });
    </script>
    {% endblock %}

{% endblock %}